body {
    margin: 0;
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin: 0;
    padding: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sidebar-color {
    background-color: #6f0707 !important;
}

.sidebar-text-color {
    color: white !important;
}

.img-profile {
    width: 64px;
    height: 64px;
    display: block !important;
    margin-right: 10px !important;
}

    

