body {
    margin: 0;
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin: 0;
    padding: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-logo
{
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-right: 10px;
}

    .navbar-logo:hover {
        filter: hue-rotate(360deg);
        transition: 1s;
    }

.navbar-nav li a 
{
    line-height: 100px;
    height: 100px;
    padding-top: 0;
} 

.navcolor
{
    color: white;
    background-color: goldenrod;
}

.fondo-header {
    position: absolute;
    background-image: url(https://t4.ftcdn.net/jpg/03/50/89/23/360_F_350892364_uqgcFHywAXpwWfhA4Qnjs9KCNT9mnauY.jpg);
    background-size: cover;
    width: 100vw;
    height: 400px;
    filter: blur(5px);
    z-index: -1;
}

.fondo-home{
    top:525px;
    position:absolute;
    z-index:-2;
}

.titulo {
    text-align: center;
    font-family: 'Segoe UI';
    color: white;
    font-size: 90px;
}

.titulo-home {
    margin-top: 70px;
    text-align: center;
    font-family: 'Segoe UI Light';
    color: black;
    font-size: 50px;
}

.sitio
{
    background-color: rgba(195,195,195,.5);
}

.subtitulo {
    font-size: 30px;
}

.t-crud{
    margin-top: 3%;
}

table {
    font-family: "Arial";
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}

th {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#244cc4, #173282);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

    th:after {
        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
        content: '';
        display: block;
        height: 25%;
        left: 0;
        margin: 1px 0 0 0;
        position: absolute;
        top: 25%;
        width: 100%;
    }

    th:first-child {
        border-left: 1px solid #777;
        box-shadow: inset 1px 1px 0 #999;
    }

    th:last-child {
        box-shadow: inset -1px 1px 0 #999;
    }

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 150ms;
}

    td:first-child {
        box-shadow: inset 1px 0 0 #fff;
    }

    td:last-child {
        border-right: 1px solid #e8e8e8;
        box-shadow: inset -1px 0 0 #fff;
    }

tr {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

    tr:nth-child(odd) td {
        background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
    }

    tr:last-of-type td {
        box-shadow: inset 0 -1px 0 #fff;
    }

        tr:last-of-type td:first-child {
            box-shadow: inset 1px -1px 0 #fff;
        }

        tr:last-of-type td:last-child {
            box-shadow: inset -1px -1px 0 #fff;
        }

tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

.anadir 
{
    background-image: url(https://image.flaticon.com/icons/png/512/36/36962.png);
    background-size: cover;
    display: block;
    width: 30px;
    height: 30px;
    margin-left:49%;
    text-indent: -9999px;
}

.boton-tabla {
    background-color: #244cc4;
    padding: 4px;
    border-color: #173282;
    border-width: 2px;
    border-style: solid;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
    text-shadow: 0 !important;
    box-shadow: 0 !important;
}

    .boton-tabla:hover {
        transition: 0.5s;
        background-color: #173282;
        border-color: #244cc4;
        color: antiquewhite;
        text-decoration: none;
        text-shadow: 0 !important;
        box-shadow: 0 !important;
    }

.boton-crear {
    background-color: crimson;
    padding: 6px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
}

    .boton-crear:hover {
        transition: 0.5s;
        background-color: firebrick;
        border-color: crimson;
        color: antiquewhite;
        text-decoration: none;
    }

.detalles
{
    margin-left:25%;
}

.linkcolor {
    font-family: 'Segoe UI Light';
    font-size: 22px !important;
    color: darkslategray !important;
    display: inline-block;
    border-radius: 15px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    transition: 0.3s;
}

    .linkcolor:hover {
        transition: 0.3s;
        background-color: palegoldenrod;
    }

.no-text-decoration {
    text-decoration: none;
    filter: sepia(1);
    transition: 0.25s;
}

    .no-text-decoration:hover {
        text-decoration: none;
        transition: 0.25s;
        filter: none;
    }

.crud-option {
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 100%;
    background-color: goldenrod;
}

.crud-title {
    color: firebrick;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

    .crud-title:hover {
        text-decoration: none;
    }

.title-about-us
{
    color: black;
    font-family: 'Segoe UI';
    font-weight: bolder;
    font-size: 100px;
    text-align: center;
}

.image-about-us
{
    border-radius: 20px 0px 0px 20px;
    margin-left: 50px;
    margin-right: auto;
    display: block;
    width: 600px;
    height: 500px;
}

.desct-about-us {
    font-family: 'Segoe UI';
    font-weight:bolder;
    margin-top: 40px;
    font-size:50px;
    color: white;
    text-align: center;
    color: white;
}

.desc-about-us {
    font-family: 'Segoe UI Light';
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

    .profile-img img {
        width: 70%;
        height: 100%;
    }

    .profile-img .file {
        position: relative;
        overflow: hidden;
        margin-top: -20%;
        width: 70%;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
    }

        .profile-img .file input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
        }

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

    .proile-rating span {
        color: #495057;
        font-size: 15px;
        font-weight: 600;
    }

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

    .profile-head .nav-tabs .nav-link {
        font-weight: 600;
        border: none;
    }

        .profile-head .nav-tabs .nav-link.active {
            border: none;
            border-bottom: 2px solid #0062cc;
        }

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

    .profile-work p {
        font-size: 12px;
        color: #818182;
        font-weight: 600;
        margin-top: 10%;
    }

    .profile-work a {
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 14px;
    }

    .profile-work ul {
        list-style: none;
    }

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}