@{
    ViewBag.Title = "Sobre nosotros";
}

<link href="~/Content/aboutus.css" rel="stylesheet">

<br /><br /><br />

<div class="container-fluid">
    <hr />
        <h2 class="title-about-us">Sobre Crytal+</h2>
    <hr />
    <br /><br />

    <div class="row no-gutters">
        <div class="col-lg-6">
            <img class="image-about-us" src="https://www.pngkey.com/png/detail/19-193530_gold-jewellery-model-png.png" />
        </div>
        <div class="col-lg-5 ml-n2" style="background-color: darkslateblue;">
            <h3 class="desct-about-us">¿Quienes somos?</h3>
            <br />
            <p class="desc-about-us">
                Crystal+ siempre ha hecho gala de su gran corazón, estableciendo la generosidad y la entrega por los demás como sus valores fundamentales.<br /> La colección Happy Hearts, una combinación perfecta entre el corazón talismán de Crystal+ y sus emblemáticos diamantes móviles, une a todas las mujeres de gran corazón del mundo.<br /> Las creaciones Happy Diamonds son tan audaces como divertidas, con sus emblemáticos diamantes móviles, que se mueven y giran suavemente entre dos cristales de zafiro, para simbolizar la alegría de vivir y una auténtica libertad de espíritu.
            </p>
        </div>
    </div>
</div>
