@{
    ViewBag.Title = "CRUD";
}

<link href="~/Content/crudStyles.css" rel="stylesheet">

<br /><br /><br />
            <div class="container-fluid mx-auto">
                <div class="row no-gutters justify-content-lg-center">
                    <div class="col-lg-4" align="center">
                        <a class="no-text-decoration" href="@Url.Action("Index","Productoes")">
                            <img class="crud-option" src="https://image.flaticon.com/icons/png/512/1044/1044967.png" />
                            <p class="crud-title">
                                Productos
                            </p>
                        </a>
                    </div>
                    <div class="col-lg-4" align="center">
                        <a class="no-text-decoration" href="@Url.Action("Index","Pedidoes")">
                            <img class="crud-option" src="https://png.pngtree.com/png-vector/20190801/ourlarge/pngtree-order-delivery-tracking-using-mobile-device-png-image_1642961.jpg" />
                            <p class="crud-title">
                                Pedidos
                            </p>
                        </a>
                    </div>
                </div>

                <br /><br /><br />

                <div class="row no-gutters justify-content-lg-center">
                    <div class="col-lg-4" align="center">
                        <a class="no-text-decoration" href="@Url.Action("Index","Gemas")">
                            <img class="crud-option" src="https://png.pngtree.com/element_our/20190602/ourlarge/pngtree-gemstone-diamond-cartoon-illustration-image_1426171.jpg" />
                            <p class="crud-title">
                                Gemas
                            </p>
                        </a>
                    </div>
                    <div class="col-lg-4" align="center">
                        <a class="no-text-decoration" href="@Url.Action("Index","Tipoes")">
                            <img class="crud-option" src="https://img.icons8.com/plasticine/2x/jewelry.png" />
                            <p class="crud-title">
                                Tipos de Joyeria
                            </p>
                        </a>
                    </div>
                </div>

            </div>